certifi
chardet
charset-normalizer
colorzero
dbus-python
distro
gpiozero
idna
lgpio
libevdev
paho-mqtt
pigpio
pycairo
pycryptodomex
PyGObject
pyserial
pyudev
requests
rpi-lgpio
six
smbus2
spidev
ssh-import-id
toml
urllib3